!!!
%html
%head
    %title AdVantage
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = csrf_meta_tags
    = csp_meta_tag

%body
    - Category.all.each do |category|
        = link_to category.name, ads_path(category: category.name)

    = yield
